include includes/head.pug
include includes/nav.pug


.container
	.columns
		.column.is-10.is-offset-1.has-text-centered
			br
			h1.title My Books with Trade Requests
	.columns
		.column.is-10.is-offset-1.has-text-centered
			if message.length > 0
				.notification.is-success
					button.delete
					= message
			if myBooksWithTrade
				each book, index in myBooksWithTrade
					.box
						article.media
							.media-left
								figure.image
									img(src=book.thumbnail alt='')
							.media-content
								.content
									p
										strong= book.title
										if book.authors
											small= ' by ' + book.authors
										else
											small= ' by Anonymous.'
										br
									each trader in book.tradeRequestUsers
										-var acceptLink = 'trades/accept?bookid=' + book._id + '&user=' + trader
										-var declineLink = 'trades/decline?bookid=' + book._id + '&user=' + trader
										hr
										p= 'Trade request from: ' + trader
										a.button.is-success(href= acceptLink) Accept Trade
										a.button.is-danger(href=declineLink) Decline Trade
	.columns
		.column.is-10.is-offset-1.has-text-centered
			br
			h1.title Books I've Requested
	.columns
		.column.is-10.is-offset-1.has-text-centered
			if booksIveRequested
				each book, index in booksIveRequested
					.box
						article.media
							.media-left
								figure.image
									img(src=book.thumbnail alt='')
							.media-content
								.content
									p
										strong= book.title
										if book.authors
											small= ' by ' + book.authors
										else
											small= ' by Anonymous.'
										br
										hr
										p= 'Pending trade acceptance from: ' + book.belongsTo
